.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  border-left: 1px solid;
  position: relative;
  width: 20px;
  height: 20px;
}
.cell-border-bottom {
  border-bottom: 1px solid;
}
.cell-border-right {
  border-right: 1px solid;
}
@media screen and (min-width: 320px) {
  .cell {
    width: 25px;
    height: 25px;
  }
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cell-select {
  background-color: var(--ion-color-light-shade);
}

.same-select {
  background-color: var(--ion-color-light);
}
